<template>
    <v-footer
      v-bind="localAttrs"
      :padless="padless"
    >
      <v-card
        flat
        tile
        width="100%"
        class="white lighten-1 text-center"
      >
        <v-divider></v-divider>
        <v-card-text class="black--text">
          {{ new Date().getFullYear() }} — <strong>Dialog</strong>
        </v-card-text>
      </v-card>
    </v-footer>
</template>
<script>
export default {
  data: () => ({
    items: [
      'default',
      'absolute',
      'fixed'
    ],
    padless: false,
    variant: 'default'
  })
}
</script>
