<template>
  <div id="app">
    <Home v-if="path.substr(0,6) === '/'"></Home>
    <router-view v-else></router-view>
    <Footer></Footer>
  </div>
</template>

<script>
import Footer from '@/components/Footer.vue'
import Home from '@/components/Home.vue'

export default {
  components: {
    Footer,
    Home
  },
  data () {
    return {
      links: [
        { title: 'Home', route: '/' },
        { title: 'About', route: '/about' }
      ],
      path: this.$route.fullPath
    }
  }
}
</script>
